<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>


<h1>Log in to your Boulder Buddles account below:</h1>
<form method="post" action="/login">
  <label>Username: </label>
    <input id="username" type="text" name="username">
    <br><br>
  <label>Password: </label>
    <input id="password" type="password" name="password">
    <br><br>
  <input type="submit" value="submit">
</form>

<h4>New to Boulder Buddies? <a href="/signup">Click here to sign up!</a></h4>
