
<h2>Want to contribute to the site? Sign up for your Boulder Buddies account below:</h2>
<form method="post" action="/signup">
  <label>Username: </label>
    <input id="username" type="text" name="user[username]">
    <br><br>
  <label>Email: </label>
    <input id="email" type="email" name="user[email]">
    <br><br>
  <label>Password: </label>
    <input id="password" type="password" name="user[password]">
    <br><br>
  <input type="submit" value="Sign Up">
</form>
