
    <h2>Boulder Buddies</h2>

      <p>Welcome to Boulder Buddies. Check out a list of climbing locations below to see their climbs. If you want to add your own climbs or make edits. Sign up for an account or log in below!</p>
      <br>
      <br>
      <a href="/signup">New User: Sign Up</a><br><br>
      <a href="/login">Existing User: Log In</a>

      <br><br>

      <p>You can view all of the climbs without an account. To checkout the current locations, click below!</p>
      <br><br>
      <a href="/locations">List the Locations</a>
