<h2>List of Locations</h2>

<%if logged_in?%>
<form method="get" action="/climbs/new">
  <input type="submit" value="Add a New Climb">
</form>
<form method="get" action="/locations/new">
  <input type="submit" value="Add a New Location (Without Climb)">
</form>
<%end%>
<br>
<h3>Click on a location to view its climbs</h3><br>
<ul>
  <%@locations.sort_by {|locale| locale.name}.each do |location|%>
    <li><strong><a href="/locations/<%=location.slug%>"><%=location.name%></a><strong><br>
      <%=location.city%>, <%=location.state%></li><br>
  <%end%>
</ul>
